<IfModule mod_rewrite.c>
    RewriteEngine On

    # If the request isn't an existing file or folder, route everything
    # to index.php (the proxy script).
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>
